header {
    position: fixed;
    color: #524695;
    background-color: #DBE9EE;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.liste {
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

div {
    position: relative;
    top: 80px;
    left: 5%;
    width: 87%;
    border: 10px solid #524695;
    padding: 2% 0 3% 4%;
}

body {
    overflow: scroll;
    margin-bottom: 100px;
    
}

#galerie {
    position: relative;
    left: -3%;  
}

.image {  
    display: inline-block;
    box-sizing: border-box;
    list-style-type: none;
    width: 24.5%;
    position: relative;
}

img {
    padding: 0;
    margin: 0;
    width: 100%;      
}

.image1 {
    width: 100%;    
}

.image2 {   
    height: 100%;  
}

button {
    padding: 0.1em;
}

@media all and (min-width: 1em) {
    button:focus,
    button:hover {
        background: #09c;
    }
}

@media all and (min-width: 1em) {
    button {
        padding: 0.1em;
        width: 100%;
        height: 17rem;
        position: relative;
    }
    
    button img {
        border: 0;
        position: absolute;
        left: 0%;
        top: 0%;       
        box-shadow: 0;
        transition: all 0.1s;
    }

    button:focus img,
    button:hover img {
        border: 2em solid #eee;
        border-radius: 1 em;
        box-shadow: 1px 1px 5px #333;
        z-index: 2;
        left: -4%;
        top: -4%;        
        transition: all 0.5s;
        transform: scale(1, 1.2)
    }
}

.box {
    display: none;
    position: fixed;
    z-index: 5;
    width:110%;
    left: -10%;
    height: 100%;
    top: 0%;
    border: 1px solid black;    
    background-color: black;
    overflow: scroll;
}

.box-content {
    margin: auto;
    display: block;   
}

#caption {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    font-size: 24px;
  }

  .close {
    position: absolute;
    top: 60px;
    right: 7%;
    color: #f1f1f1;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
  }

  .box-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.8s;
    animation-name: zoom;
    animation-duration: 0.8s;
  }

  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0.2)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0.2)} 
    to {transform:scale(1)}
  }

.last:hover,
.last:focus,
.next:hover,
.next:focus,
.close:hover,
.close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}

.last,
.next {
  position: absolute;
  top: 40%;
  width: auto;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 24px;
}

.next {
    right: 7%;
    border-radius: 3px 0 0 3px;
}

.last {
    right: 88%;
    border-radius: 3px 0 0 3px;
}

#page {
    position: absolute;
    top: 60px;
    right: 86%;
    color: #f1f1f1;
    font-size: 24px;
}



