h1 {
    font-size: 80px;    
    position: relative;
    left: 100px;  
 }

.stefan {
    position: relative;
    left: 100px;
}


body {
    background-color: #466995;
    color: #DBE9EE;
}

.info{
    position: absolute;
    left: 700px;
    top: 250px;
    font-size: 30px;
}

.quote {
    position: relative;
    left: 100px;
    top: 40px;
    font-size: 24px;
}

header {
    position: fixed;
    color: #466995;
    background-color: #DBE9EE;
    width: 100%;  
}

a {
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 20px;
    left: 190px;
}

#author {
    font-size: 18px;
}

