header {
    position: fixed;
    color: #524695;
    background-color: #DBE9EE;
    width: 100%;
}

a {
    display: inline-block;
    text-align: center;
    width: 200px;
    font-size: 20px;
}

div {
    position: relative;
    top: 80px;
    left: 100px;
    width: 55%;
}

body {
    overflow: scroll;
}

.campus {
    position: absolute;
    left: 650px;
    top: 30px; 
} 

#campus {
    width: 150px;
}

p {
    font-size: 17px;
}